LiveSelfie/obj/Debug/net8.0/staticwebassets.build.json.cache
.vs/LiveSelfie/FileContentIndex/c1f747d7-2b4f-4380-a71a-4edd23287335.vsidx
.vs/LiveSelfie/FileContentIndex/ef9bd5e7-3d07-4779-952c-1482d9198ba7.vsidx
